:root {
  --text-font-family: "Exo 2", sans-serif;
  --color-title: white;
  --color-letter: #8f94fb;
  --color-background: #4e54c8;
}

.body {
  font-family: var(--text-font-family);
  background-color: var(--color-background);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.title {
  color: var(--color-title);
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 35px;
  margin: 140px 0 50px 0;
  animation: rubberBand;
  animation-duration: 2s;
}

@media all and (min-width: 768px) {
  .title {
    font-size: 50px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  color: var(--color-letter);
  z-index: 100;
}

.wrap {
  display: flex;
  align-items: center;
  width: 250px;
  gap: 15px;
  background-color: white;
  padding: 15px;
  border-radius: 20px;
}

@media all and (min-width: 768px) {
  .wrap {
    width: 380px;
    padding: 25px;
  }
}

.form-label {
  font-weight: 600;
  font-size: 16px;
}

@media all and (min-width: 768px) {
  .form-label {
    font-size: 25px;
  }
}

.input {
  width: 125px;
  padding: 6px 4px;
  border-radius: 20px;
  border: 2px solid var(--color-background);
}

@media all and (min-width: 768px) {
  .input {
    width: 225px;
    padding: 11.5px 8px;
  }
}

.select {
  width: 137px;
  padding: 4px;
  border-radius: 20px;
  font-size: 16px;
  border: 2px solid var(--color-background);
}

@media all and (min-width: 768px) {
  .select {
    width: 245px;
    padding: 8px;
    font-size: 18px;
  }
}

.wrap-btn {
  display: flex;
  gap: 10px;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  padding: 10px;
  border-radius: 20px;
  background-color: var(--color-title);
  font-weight: 600;
  font-size: 16px;
  border: none;
  color: var(--color-letter);
}

@media all and (min-width: 768px) {
  .btn {
    width: 200px;
    font-size: 25px;
  }
}

.btn:hover {
  animation: heartBeat;
  animation-duration: 2s;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  padding: 10px;
  border-radius: 20px;
  background-color: var(--color-title);
  font-weight: 600;
  font-size: 16px;
  border: none;
  color: var(--color-letter);
  z-index: 100;
}

.result-text {
  color: black;
}

@media all and (min-width: 768px) {
  .result {
    width: 200px;
    font-size: 25px;
  }
}

/* ANIMATION */

.area {
  background: var(--color-background);
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
